{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}

<div class="container">
    <form action="/loginResponse" method="post" class="form-signin">
        <h2 class="form-signin-heading">Login:</h2>
        {{form.login(class="input-block-level", placeholder="Usuário ou e-mail")}}<BR>
        {{form.senha(class="input-block-level", placeholder="Informe a sua senha")}}<BR>
        {{form.submit(class="btn btn-large btn-primary")}}
    </form>
</div>
<BR><p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>

{% endblock %}